.float-hint {
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    border-radius: 5px;
    background: #2a2a2a;
    padding: 10px 16px;
    color: #fff;
    box-shadow: 5px 5px 7px rgba(160, 160, 160, 0.74);
}

.float-hint .text {
    display: block;
    position: relative;
    top: -7.5px;
    color: #eaeaea;
    font-size: 12px;
    font-family: Arial;
}

/*.float-hint:before{
    display: block;
    content: '';
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
    top: -16px;
    border: solid 8px rgba(0, 0, 0, 0.74);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}*/