.order-history {
    margin-bottom: 20px;
    padding: 10px;
    background: #eaeaea;
    border-radius: 8px;
    color: #292828;
}

.order-history-date,
.order-history-total-rice{
    margin-bottom: 10px;
    font-size: 20px;
}

.order-history-list {
    height: 30px;
    line-height: 30px;
}

.order-history-item {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    background: #fff;
}

.order-history-item-name,
.order-history-item-price,
.order-history-item-pizza-amount {
    float: left;
    width: 33.333%;
    text-align: center;
}

.order-history-re-button button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #3ba775;
    color: #fff;
    font-size: 20px;
}

.order-history-re-button button:hover {
    background: #49ce90;
}
