<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>task 8</title>
    <meta charset="utf-8" />
    <link href="/css/ng-cloak.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/cart.css" rel="stylesheet" />
    <link href="/css/ready-pizza.css" rel="stylesheet">
    <script type="text/javascript" src="js/angular.min.js" defer></script>
    <script type="text/javascript" src="js/angular-route.min.js" defer></script>
    <script type="text/javascript" src="js/main.js" defer></script>
</head>
<body ng-cloak ng-controller="pizzaController">
    <div class="main-container">
        <div class="header"></div>
        <div class="nav clearfix">
            <ul>
                <li><a href="#/constructor">Конструктор пиццы</a></li>
                <li><a href="#/readyPizza">Готовая пицца</a></li>
                <li><a href="#/orderHistory">История заказов</a></li>
                <li><a href="#/cart">Корзина</a></li>
            </ul>
        </div>
        <div class="content-container clearfix">
            <div class="left-side">
                <div class="ready-pizza" ng-repeat="item in list">
                    <div class="pizza-item clearfix">
                        <div class="pizza-photo"><img ng-src={{item.imgUrl}} alt=""></div>
                        <div class="pizza-info">
                            <div class="pizza-title">{{item.name}}</div>
                            <div class="pizza-desc">{{item.desc}}</div>
                            <div class="pizza-amount">
                                <button class="pizza-reduce-button">-</button>
                                <input type="text" ng-model="item.amount" class="amount-pizza">
                                <button class="pizza-increase-button">+</button>
                            </div>
                            <div class="pizza-price">{{item.price}}</div>
                            <form class="pizza-form" action="">
                                <input class="pizza-add-button" type="submit" value="Добавить">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="cart-container">
                    <div class="cart-title">Корзина</div>
                    <div class="cart-info">Корзина пуста</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
