<div class="ingredients-info">
    <div class="ingredient-name">Название</div>
    <div class="ingredient-price">Цена</div>
    <div class="ingredient-amount">Кол-во</div>
    <div class="ingredient-weight">Вес</div>
</div>
<div class="cart-list" ng-repeat="pizza in data.cart">
    <div class="cart-item">
        <div class="cart-item-name">{{ pizza.name }}</div>
        <div class="cart-item-price">{{ pizza.price * pizza.amount}}</div>
        <div class="cart-item-pizza-amount">
            <button ng-click="pizzaReduce(pizza)">-</button>
            <input type="text" ng-model="pizza.amount" ng-keydown="onlyNumbers($event)">
            <button ng-click="pizzaIncrease(pizza)">+</button>
        </div>
        <div class="delete-from-cart-button">
            <button ng-click="deletePizzaFromCart(pizza)">Удалить</button>
        </div>
    </div>
</div>