<div class="ready-pizza" ng-repeat="item in list.items">
    <div class="pizza-item clearfix">
        <div class="pizza-photo"><img src={{item.imgUrl}} alt=""></div>
        <div class="pizza-info">
            <div class="pizza-title">{{item.name}}</div>
            <div class="pizza-desc">{{item.desc}}</div>
            <div class="pizza-amount">
                <button class="pizza-reduce-button">-</button>
                <input type="text" ng-model="item.amount" class="amount-pizza">
                <button class="pizza-increase-button">+</button>
            </div>
            <div class="pizza-price">{{item.price}}</div>
            <form class="pizza-form" action="">
                <input class="pizza-add-button" type="submit" value="Добавить">
            </form>
        </div>
    </div>
</div>