<div class="ready-pizza" ng-repeat="pizza in readyPizzaList">
    <div class="pizza-item clearfix">
        <div class="pizza-photo"><img ng-src={{pizza.imgUrl}} alt=""></div>
        <div class="pizza-info">
            <div class="pizza-title">{{pizza.name}}</div>
            <div class="pizza-desc">{{pizza.desc}}</div>
            <div class="pizza-price-wrap">
                <div class="pizza-price">{{(pizza.price | number:2) + 'p.'}}</div>
            </div>
            <button class="pizza-add-button" ng-click="addPizzaToCart(pizza)">Добавить</button>
            <div class="pizza-amount">
                <button class="pizza-reduce-button" ng-click="pizzaReduce(pizza)">-</button>
                <input type="text" ng-model="pizza.amount" maxlength="2" only-number class="amount-pizza">  <!--ng-keydown="onlyNumbers($event)"-->
                <button class="pizza-increase-button" ng-click="pizzaIncrease(pizza)">+</button>
            </div>
        </div>
    </div>
</div>