.right-container {
    text-align: center;
}

.right-container .overall-cost p {
    font-size: 20px;    
}

.right-container .cost {
    background: #eaeaea;
    color: #191919;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.right-container .cost:hover {
    background: #585858;
    color: #fff;
}

.right-container .accept-button {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.right-container .accept-button button {
    padding: 10px;
}