.b-footer{
    background: #6dc5dd;
    padding: 0 30px 0 30px;
}

.b-footer .b-footer__blocks{
    padding: 60px 0 60px 0;
    border-bottom: 1px solid #9fd9e9;
}

.b-block{
    float: left;
    color: #fff;
    width: 12%;
    margin-right: 5.5%;
}

.b-block:last-child{
    margin-right: 0;
}

.b-block .b-block__head{
    font-size: 20px;
    font-family: 'Source Sans Pro Bold', arial;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.b-block .b-block__item{
    line-height: 26px;
    letter-spacing: 1px;
    font-size: 13px;
    display: block;
    font-family: 'Source Sans Pro Light', arial;
    text-decoration: none;
    color: #fff;
}

.b-block .b-block__item:hover{
    text-decoration: underline;
}

.b-footer .b-footer__copyright{
    display: inline-block;
    padding: 40px 0 40px 0;
    color: #fff;
    font-family: 'Source Sans Pro Light', arial;
    font-size: 15px;
}

.b-footer .b-footer__social{
    float: right;
    padding: 30px 0;
}

.b-footer-social .b-footer-social__item{
    cursor: pointer;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}

.b-footer-social .b-footer-social__item:first-child{
    margin-left: 0;
}

.b-footer-social .b-footer-social__item:last-child{
    margin-right: 0;
}

.b-footer-social .b-footer-social__item_facebook{
    content: url(../images/facebook_button.png);

}

.b-footer-social .b-footer-social__item_twitter{
    content: url(../images/twitter_button.png);
}