.b-row4{
    background: #fff;
    padding: 50px 30px;
    text-align: center;
}

.b-row4__header{
    padding-bottom: 28px; 
    color: #003d48;
    font-size: 30px;
    font-family: 'Source Sans Pro Bold', arial;
}

.b-row4__sub-header{
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    color: #a7dceb;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Source Sans Pro Light', arial;
}