.b-row4{
    background: #fff;
    padding: 50px 30px;
}

.b-row4 .b-row4__header{
    text-align: center;
    padding-bottom: 25px; 
    color: #003d48;
    font-size: 30px;
    font-family: 'Source Sans Pro Bold', arial;
}

.b-row4 .b-row4__sub-header{
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    color: #a7dceb;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Source Sans Pro Light', arial;
}

.b-row4 .b-row4__left-side{
    box-sizing: border-box;
    width: 45%;
    float: left;
    margin-top: 10px
}

.b-row4 .b-row4__right-side{
    box-sizing: border-box;
    margin-top: 10px;
    width: 55%;
    display: inline-block;
}

.b-row4-left-side .b-row4-left-side__item{
    padding: 28px 0;
}

.b-row4-left-side .b-row4-left-side__item:last-child{
    padding-bottom: 8px;
}

.b-row4-left-side .b-row4-left-side__calendar{
    float: left; 
    margin-right: 30px;
    width: 13.6%;
}

.b-calendar {
    text-align: center;
    color: #fff;
    font-family: 'SansPro Black', 'Source Sans Pro Bold', arial;
    background: #6dc5dd;
    border-radius: 3px;
}

.b-calendar .b-calendar__day{
    border-bottom: 1px solid #fff;
    font-size: 35px;
}

.b-calendar .b-calendar__month {
    font-size: 17px;
}

.b-row4-desc{
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
}

.b-row4-desc .b-row4-desc-head{
    color: #003d48;
    font-family: 'Source Sans Pro Bold', arial;
}

.b-row4-desc .b-row4-desc-comments{
    color: #f77462;
    margin-bottom: 10px;
    font-size: 13px;
}

.b-row4-desc .b-row4-desc__text{
    display: inline;
    color: #8a8a8a;
    line-height: 21px;
    font-size: 14px;
}

.b-row4-desc .b-row4-desc__pointer{
    position: relative;
    left: 8px;
    top: 4px;
}

.b-row4-right-side .b-row4-right-side__item{
    background: #ececec;
    padding: 30px;
    border-radius: 3px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.b-row4-right-side .b-row4-right-side__item:last-child{
    margin-bottom: 0;
}

.b-row4-right-side .b-row4-right-side__item:first-child{
    margin-top: 30px;
}

.b-row4-right-side-message{
    float: left;
    width: 68%;
    margin-top: 5px;
}

.b-row4-right-side-message .b-row4-right-side-message__text{
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 25px;
    color: #8c9193;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro Light', arial;
}

.b-row4-right-side-message .b-row4-right-side-message__auth{
    color: #f77462;
    font-family: 'Source Sans Pro Bold', arial;
    font-size: 15px;
}

.b-row4-right-side .b-row4-right-side__item-img{
    float: left;
    margin-left: 40px;
}